body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

body * {
  -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

body h1,
body h2 {
  margin: 0;
}

body section {
  padding: 40px 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section:not(.header) {
  display: -ms-grid;
  display: grid;
  gap: 25px;
  -ms-grid-columns: (250px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 250px);
  position: relative;
  top: -140px;
}

body .card {
  background: #f0f2fa;
  border: 0;
  overflow: hidden;
}

body .card:hover {
  background: #cfd1ec98;
  cursor: pointer;
}

body img {
  width: 20px;
  height: 20px;
}

body .total-followers,
body .switch-text,
body .card-heading,
body .up-change,
body .down-change,
body .username,
body .followers-text {
  font-size: 14px;
  font-weight: 700;
  color: #6a6d77;
}

body .switch-text {
  color: #888a91;
}

body .up-change,
body .down-change,
body .username,
body .followers-text {
  font-size: 12px;
}

body .up-change {
  color: #1db489;
}

body .down-change {
  color: #dc414c;
}

body .up,
body .down {
  width: 10px;
  height: 5px;
}

.header {
  background: #f5f7ff;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .page-title {
  font-size: 28px;
  font-weight: 700;
}

.header .switch {
  margin-left: 10px;
  display: inline-block;
  width: 45px;
  height: 22px;
  border-radius: 20px;
  background: #aeb3cb;
  vertical-align: middle;
  position: relative;
}

.header .switch .slider {
  margin: 3px;
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background: #f5f7ff;
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0, 0.9, 0.99, 1);
  transition: all 0.2s cubic-bezier(0, 0.9, 0.99, 1);
}

.header .switch:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
}

.followers {
  padding-bottom: 0;
}

.followers .card {
  border-top: 4px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.followers .card small {
  margin: 25px auto;
}

.followers .card small.username img {
  margin-right: 5px;
}

.followers .card .followers-number {
  font-size: 50px;
}

.followers .card .followers-text {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
}

.followers .fb {
  border-color: #198ff5;
}

.followers .twtr {
  border-color: #1ca0f2;
}

.followers .insta {
  border: 0;
}

.followers .insta::before {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 1rem 1rem 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.followers .ytb {
  border-color: #c4032a;
}

.overview-h2 {
  position: relative;
  top: -140px;
  padding: 40px 12% 0;
  font-size: 25px;
  font-weight: 700;
  color: #6a6d77;
}

.overview .card {
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.overview .card .card-heading,
.overview .card .overview-total {
  -ms-grid-column-align: start;
      justify-self: start;
}

.overview .card :nth-child(2n) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.overview .card :nth-child(3),
.overview .card :nth-child(4) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.overview .card .overview-total {
  font-size: 30px;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: -140px;
}

.attribution a {
  color: #3e52a3;
}

.attribution a:hover {
  text-decoration: none;
}

.slide-cover {
  width: 100%;
  height: 0;
  background: #ffffff0a;
  position: absolute;
  bottom: 0;
  visibility: hidden;
  -webkit-box-shadow: inset -1px 0 10px #d4d4d4;
          box-shadow: inset -1px 0 10px #d4d4d4;
}

.slide-cover-expand {
  visibility: visible;
  height: 100%;
}

.body-dark {
  background: #1e202a;
}

.slider-on {
  -webkit-transform: translateX(23px);
          transform: translateX(23px);
}

.heading-white {
  color: #fff !important;
}

.total-followers,
.username,
.card-heading,
.followers-text,
.attribution {
  color: #8b97c6 !important;
}

.header-dark {
  background: #1f212e;
}

.card-dark {
  background: #252a41 !important;
}

.card-dark:hover {
  background: #303857 !important;
}

.slide-cover-dark {
  background: #6f6f6f0a;
  -webkit-box-shadow: inset -1px 0 10px #1a1a1ad9;
          box-shadow: inset -1px 0 10px #1a1a1ad9;
}

@media (max-width: 670px) {
  section:not(.header),
  .overview-h2 {
    top: -50px !important;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 90px;
  }
  .hr-bar {
    width: 100%;
    height: 5px;
    border-color: black;
  }
  .switch-container {
    position: relative;
    width: 100%;
  }
  .switch-container .switch-text {
    position: absolute;
    left: 0;
  }
  .switch-container .switch {
    position: absolute;
    right: 0;
    margin: 0;
  }
  .followers {
    padding-top: 20px;
  }
  .attribution {
    top: -50px;
  }
}
/*# sourceMappingURL=styles.css.map */