body.dark {
  background: #1e202a;
}

body.dark .header__btn-slider {
  -webkit-transform: translateX(23px);
          transform: translateX(23px);
}

body.dark h1,
body.dark h2,
body.dark .header__theme-switcher-text {
  color: #fff;
}

body.dark .header__total-followers,
body.dark .card--followers__username,
body.dark .card--overview__heading,
body.dark .card--followers__followers-text,
body.dark .attribution {
  color: #8b97c6;
}

body.dark .header {
  background: #1f212e;
}

body.dark .card {
  background: #252a41;
}

body.dark .card:hover {
  background: #303857;
}

body.dark .slide-cover {
  background: #0000000a;
  -webkit-box-shadow: inset -1px 0 15px #1a1a1a1e;
          box-shadow: inset -1px 0 15px #1a1a1a1e;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

body * {
  -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

h1,
h2 {
  margin: 0;
}

section,
header {
  padding: 40px 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  display: -ms-grid;
  display: grid;
  gap: 25px;
  -ms-grid-columns: (250px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 250px);
  position: relative;
  top: -140px;
}

.card {
  background: #f0f2fa;
  border: 0;
  overflow: hidden;
}

.card:hover {
  background: #cfd1ec98;
  cursor: pointer;
}

img {
  width: 20px;
  height: 20px;
}

.up-change,
.down-change {
  font-size: 14px;
  font-weight: 700;
  color: #6a6d77;
}

.up-change,
.down-change {
  font-size: 12px;
}

.up-change {
  color: #1db489;
}

.down-change {
  color: #dc414c;
}

.up,
.down {
  width: 10px;
  height: 5px;
}

.header {
  background: #f5f7ff;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 28px;
  font-weight: 700;
}

.header__total-followers, .header__theme-switcher-text {
  font-size: 14px;
  font-weight: 700;
  color: #6a6d77;
}

.header__theme-switcher-text {
  color: #888a91;
}

.header__theme-switcher-btn {
  margin-left: 10px;
  display: inline-block;
  width: 45px;
  height: 22px;
  border-radius: 20px;
  background: #aeb3cb;
  vertical-align: middle;
  position: relative;
}

.header__theme-switcher-btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
}

.header__btn-slider {
  margin: 3px;
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background: #f5f7ff;
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0, 0.9, 0.99, 1);
  transition: all 0.2s cubic-bezier(0, 0.9, 0.99, 1);
}

.followers-section {
  padding-bottom: 0;
}

.card--followers {
  border-top: 4px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--followers__username, .card--followers__followers-change {
  margin: 25px auto;
}

.card--followers__username, .card--followers__followers-text {
  font-size: 12px;
  font-weight: 700;
  color: #6a6d77;
}

.card--followers__username img {
  margin-right: 5px;
}

.card--followers__no-of-followers {
  font-size: 50px;
}

.card--followers__followers-text {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
}

.card--fb {
  border-color: #198ff5;
}

.card--twitter {
  border-color: #1ca0f2;
}

.card--insta {
  border: 0;
}

.card--insta::before {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 1rem 1rem 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.card--youtube {
  border-color: #c4032a;
}

.overview-heading {
  position: relative;
  top: -140px;
  padding: 40px 12% 0;
  font-size: 28px;
  font-weight: 700;
  color: #6a6d77;
}

.card--overview {
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.card--overview__heading, .card--overview__total-amount {
  -ms-grid-column-align: start;
      justify-self: start;
}

.card--overview__heading {
  font-size: 14px;
  font-weight: 700;
  color: #6a6d77;
}

.card--overview__total-amount {
  font-size: 28px;
  font-weight: 700;
}

.card--overview :nth-child(2n) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.card--overview :nth-child(3),
.card--overview :nth-child(4) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: -140px;
}

.attribution a {
  color: #3e52a3;
}

.slide-cover {
  width: 100%;
  height: 0;
  background: #ffffff0a;
  position: absolute;
  bottom: 0;
  visibility: hidden;
  -webkit-box-shadow: inset -1px 0 10px #d4d4d4;
          box-shadow: inset -1px 0 10px #d4d4d4;
}

.slide-cover--expand {
  visibility: visible;
  height: 100%;
}

@media (max-width: 670px) {
  section:not(.header),
  .overview-heading {
    top: -50px !important;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 90px;
  }
  .header__separator-bar {
    width: 100%;
    height: 5px;
    border-color: black;
  }
  .header__theme-switcher {
    position: relative;
    width: 100%;
  }
  .header__theme-switcher-text {
    position: absolute;
    left: 0;
  }
  .header__theme-switcher-btn {
    position: absolute;
    right: 0;
    margin: 0;
  }
  .followers-section {
    padding-top: 20px;
  }
  .attribution {
    top: -50px;
  }
}
/*# sourceMappingURL=index.css.map */